*{
    background-color: #484848;
    margin: 0; 
    padding: 0;

}
.header{
    text-align: center;
    color: white;
}

.images{
    display: flex;
    flex-direction: row;
    max-width: 50vw;
    max-height: auto;    
}