*{
    background-color: #484848;
    margin: 0; 
    padding: 0;

}
.header{
    text-align: center;
    color: white;
    text-decoration: none;
}

.images{
    display: flex;
    flex-direction: row;
    }

img{
    max-width: 33vw;
}
a:visited { 
    text-decoration: none; 
    color: orange; 
    }
